
/* Navigation Styles */
.navbar {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.navbar-brand img {
    height: 40px;
    width: auto;
}

.nav-link {
    color: #050505 !important;
    font-size: 1rem;
    transition: color 0.3s ease;
    margin-left: 2rem;
}

.nav-link:hover {
    color: #4f46e5 !important;
}

.schedule-demo {
    background-color: #4f46e5;
    color: white !important;
    padding: 0.8rem 1.2rem !important;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.3s ease !important;
}

.schedule-demo:hover {
    color: #000 !important;
}

.contact-with-icon {
    display: flex;
    align-items: center;
}

.whatsapp-icon {
    color: #25D366;
    font-size: 1.2rem;
}

/* Hero Section Styles */
.hero {
    background-image: url('/images/hero-background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(26, 31, 46, 0.6);
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 0 1rem;
}

#hero-content-intro {
    position: absolute;
    top: 10rem;
}

#hero-content-description {
    color: #f1f0f7 ; 
    position: absolute;
    bottom: 5.0rem;
}

.hero h2 {
    font-size: 3.0rem;
    font-family: "Berkshire Swash", serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-bottom: #4f46e5 solid 2px;
}

.hero p {
    font-size: 1.2rem;
    font-family: "Berkshire Swash", serif;
    margin: 2px 0;
    opacity: 0.9;
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.scroll-indicator {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    cursor: pointer;
    z-index: 2;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Footer */
footer {
    background-color: #fff;
    color: #050505;
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
    font-family: "Berkshire Swash", serif;
}
 
/* Media queries */
@media (max-width: 768px) {
    .nav-link {
        margin-left: 0;
        margin-top: 0.5rem;
    }
    
    .hero h2 {
        font-size: 2.5rem;
    }
}
